/*TABLET WIDTH*/
@media (max-width: 640px) {
	#section1 {
		height: 450px !important;
	}
	#container {
		width: 640px !important;
	}
}

/*PHONE WIDTH*/
@media (max-width: 480px) {
	#section1 {
		height: 300px !important;
	}
	#container {
		width: 480px !important;
	}
}


* {
	margin: 0;
	padding: 0;
}
#container {
	max-width: 100%;
}
#horizontal-nav {
	background-color: #F68F20;
	font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	height: 63px;
 	width: auto;
}
ul.navbar-left {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
}
li.nav-list {
	float: left;
}
li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.nav-list {
	display: block;
    padding: 8px;
}
a.nav-link:link {
	text-decoration: none;
}
a.nav-link:visited {
	text-decoration: none;
}
a.nav-link:hover {
	text-decoration: none;
}
a.nav-link:active {
	text-decoration: none;
}
#main-content {
	max-width: auto;
	font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#section1 {
	height: 600px;
	width: 100%;
	background-image: url(http://info.liveintent.com/rs/920-LJZ-738/images/Photo1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	max-width: auto;
	text-align: center;
	box-shadow: inset 0 0 0 600px rgba(0,121,193,.85);
}
h1 {
	font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	color: #FFFFFF;
}
h2 {
	font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
}
#section2 {
	height: 350px;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	max-width: auto;
	text-align: center;
}
#section3 {
	height: 450px;
	width: 100%;
	background-image: url(http://info.liveintent.com/rs/920-LJZ-738/images/Photo2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	max-width: auto;
	text-align: center;
	box-shadow: inset 0 0 0 1000px rgba(246,143,32,.85);
}
.hero-text {

}
.hero-subtext {

}
.hero-icon {

}
#main-footer {
	background-color: #59606D;
 	text-align: center;
}
.social-bar a {

}
